<%- include('./partials/header') %>

<h1>Register!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="password" name="password" placeholder="Enter your password">
    <button>Submit!</button>
</form>

<%- include('./partials/footer') %>